<form [formGroup]="hrForm" novalidate>
    <div class="row g-3">
        <!-- Name -->
        <div class="col-12 md:col-6">
            <label class="form-label fw-semibold">
                Name <span class="text-danger">*</span>
            </label>
            <input pInputText type="text" class="form-control" placeholder="Enter Organization Name"
                formControlName="name" />
            <small *ngIf="hrForm.get('name')?.touched && hrForm.get('name')?.hasError('required')" class="p-error">
                Name is required.
            </small>
        </div>

        <!-- Email -->
        <div class="col-12 md:col-6">
            <label class="form-label fw-semibold">
                Email <span class="text-danger">*</span>
            </label>
            <input pInputText type="email" class="form-control" placeholder="info@techcorp.com"
                formControlName="email" />
            <small *ngIf="hrForm.get('email')?.touched && hrForm.get('email')?.hasError('required')" class="p-error">
                Email is required.
            </small>
            <small *ngIf="hrForm.get('email')?.touched && hrForm.get('email')?.hasError('email')" class="p-error">
                Invalid email format.
            </small>
        </div>

        <!-- Phone -->
        <div class="col-12 md:col-6">
            <label class="form-label fw-semibold">
                Phone Number <span class="text-danger">*</span>
            </label>
            <input pInputText type="tel" class="form-control" placeholder="Enter Phone Number"
                formControlName="phoneNo" />
            <small *ngIf="hrForm.get('phoneNo')?.touched && hrForm.get('phoneNo')?.hasError('required')"
                class="p-error">
                Phone number is required.
            </small>
        </div>

        <!-- City -->
        <div class="col-12 md:col-6">
            <label class="form-label fw-semibold">
                Password <span class="text-danger">*</span>
            </label>
            <input pInputText type="password" class="form-control" placeholder="Enter Password" formControlName="password" />
            <small *ngIf="hrForm.get('password')?.touched && hrForm.get('password')?.hasError('required')" class="p-error">
                Password is required.
            </small>
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-center">
        <button type="button" class="btn save px-5" [disabled]="hrForm.invalid" (click)="save()">
            <i class="pi pi-save me-2"></i>
            Save
        </button>
    </div>
</form>