body {
  font-family: 'Inter', sans-serif;
  font-size: 15px; /* optional */
  color: #212529;  /* optional for base color */
}/* You can add global styles to this file, and also import other style files */
